* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    height: auto;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
}