* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    height: auto;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
}

.btn {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 10%;
    display: flex;
    justify-content: space-between;
}

.btn button {    
    background: transparent;
    border: none;
    outline: none;
}

.btn i {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.btn i:hover {
    transform: scale(1.2);
    color: #fff;
}